# این فایل را کپی کرده و به نام .env ذخیره کنید:  cp .env.example .env
# سپس در صورت نیاز مقادیر را تغییر دهید.

POSTGRES_DB=hotel_db
POSTGRES_USER=hotel_user
POSTGRES_PASSWORD=hotel_pass123
POSTGRES_PORT=5432

# این متغیر توسط برنامه پایتون (config.py) خوانده می‌شود.
# وقتی برنامه داخل داکر اجرا شود، هاست باید نام سرویس دیتابیس در docker-compose باشد (db)
# وقتی برنامه روی سیستم خودتان (خارج از داکر) اجرا شود، هاست باید localhost باشد.
HOTEL_DB_URL=postgresql+psycopg2://hotel_user:hotel_pass123@localhost:5432/hotel_db
